@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');

button{
    height: 40px;
    width: 40px;
    background-color: #0a0a0a;
    margin: 10px;
    border-radius: 50%;
    color: white;
}