@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');

*{
    font-family: "arial", serif;
    font-weight: 500;
    font-style: normal;
}
button{
    height: 60px;
    width: 60px;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    border-radius: 50%;
    color: white;
    box-shadow: 3px 4px 7px rgba(113, 115, 119, 0.5);
    cursor: pointer;
}
#text{
    color: greenyellow;
}
input::placeholder{
    /* color: white; */
}